<center><br><h2>Discussion for <%= @discussion.name %></h2></center>
<center>Status:
<%=
  if @role.selected_user_id.blank?
    if @model.agreed
      "Waiting for response"
    else
      simple_form_for @role, url: project_dashboard_agreed_path(@project) do |f|
        f.button :submit, value: "I'm agree"
      end
    end
  else
    if @role.selected_user_id == current_user.id
       "Great, you have been chosen !"
    else
      "Damn, another model has been chosen..."
    end
  end %>
</center>
<div id='discussion-moduler'>


            <h3>Role: <%= @discussion.name %></h3>

        <input type="radio" id='one' name='contorol' checked/>
        <label for="one"><i class='icon-comments-alt'></i></label>
        <input type="radio" id='two' name='contorol' />
        <label for="two"><i class='icon-user'></i></label>
        <input type="radio" id='three' name='contorol' />
        <label for="three"><i class='icon-link'></i></label>

        <div class="chat">
            <div class="show-message">
              <% @messages.each do |m| %>
                <% if m.user != current_user %>
                  <div class="friend">
                    <% if @model.user.photos.exists? %>
                    <%= image_tag 'defaultcie.jpg', width: 32, height: 32, crop: :fill %>
                    <% else %>
                    <%= image_tag avatar_path(@model.user), width: 32, height: 32, crop: :fill %>
                    <% end %>
                      <div class="message">
                          <p><%= "#{ m.content }" %></br>
                          </p>
                      </div>
                  </div>
                <% else %>
                  <div class="me">
                    <% if current_user.photos.exists? %>
                      <%= image_tag avatar_path(current_user), width: 32, height: 32, crop: :fill %>
                    <% else %>
                      <%= image_tag 'defaultcie.jpg', width: 32, height: 32, crop: :fill %>
                    <% end %>
                      <div class="message">
                      <p><%= "#{ m.content }" %> <br>
                      </p></div>
                  </div>
                <% end %>
              <% end %>
                <div class="badboy"></div>
            </div>
            <div class="type-text">
              <% if @role.selected_user_id.blank? || @role.selected_user_id == current_user.id %>
                <%= simple_form_for @message, url: project_dashboard_message_path(@project) do |m| %>
                      <%= m.input :content, label:false, required: false %>
                      <%= m.button :submit, "Send" %>
                    <% end %>
                    <% end %>
            </div>

        <div class="Description">
            <p>
            </p>
        </div>

        <div class="Link">
            <div class="menu">
            </div>
        </div>

        <div class="badboy"></div>
    </div>

</div>
<script type="text/javascript">
  setTimeout(function(){
   window.location.reload(1);
}, 5000);
</script>
