<div class="back_login">
<%= image_tag 'cardbackground.jpg' %>
</div>
<div class="container" style="width: 500px; text-align: center;">
<h2>Edit profile</h2>
<%= simple_form_for @profile, url: profile_path(@profile) do |f| %>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :phone_number %>
<%= f.input :email %>
<%= f.input :description %>
<%= f.input :address %>
<%= f.input :city %>
<%= f.input :country %>
<%= f.input :newsletter %>
<%= f.input :model %>
<%= f.input :gender %>
<%= f.input :ethnicity %>
<%= f.input :skin_color %>
<%= f.input :hair_color %>
<%= f.input :haircut %>
<%= f.input :height %>
<%= f.input :weight %>
<%= f.input :corpulence %>
<%= f.input :phone_number_pro %>
<%= f.input :email_pro %>
<%= f.input :grade_company %>
<%= f.input :description_pro %>
<br>
<%= f.input :photos, as: :attachinary %>
<br>
<%= f.button :submit %>

<% end %>
</div>
