<h2>Profile</h2>
<%= @profile.first_name %><br />
<%= @profile.last_name %><br />
<%= @profile.phone_number %><br />
<%= @profile.email %><br />
<%= @profile.description %><br />
<%= @profile.address %><br />
<%= @profile.city %><br />
<%= @profile.country %><br />
<%= @profile.newsletter %><br />
<%= @profile.model %><br />
<%= @profile.gender %><br />
<%= @profile.ethnicity %><br />
<%= @profile.skin_color %><br />
<%= @profile.hair_color %><br />
<%= @profile.haircut %><br />
<%= @profile.height %><br />
<%= @profile.weight %><br />
<%= @profile.corpulence %><br />
<%= @profile.phone_number_pro %><br />
<%= @profile.email_pro %><br />
<%= @profile.grade_company %><br />
<%= @profile.description_pro %><br />
