<div id="profil">
  <center><h2></h2></center>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="photos">
        <% if @profile.photos[0] == nil %>
          <%= image_tag 'defaultcie.jpg', width: 300, height: 200, crop: :fill %>
        <% else %>
          <%= image_tag avatar_path(@profile), width: 300, height: 200, crop: :fill %>
        <% end %>
        <h3><%= @profile.first_name %>, <%= @profile.gender %></h3>
        <c><%= @profile.address %>
        <%= @profile.city %> <%= @profile.country %></c>
        <br>
        <div class=div-space></div>
        <div class="prof-det">
          <%= @profile.haircut %> haircut <br>
          <%= @profile.hair_color %> hair <br>
          <%= @profile.ethnicity %> <br>
          <%= @profile.corpulence %> body <br>
          <% if policy(@profile).edit? %>
          <div class="div-space"></div>
          <%= link_to "Modify", edit_profile_path(current_user), class: "btn-edit" %>
        <% end %>
        </div>
        </br>
      </div>
      </div>
      <div class="backtext">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <br></br>
          <h4>Description</h4>
        <p> <%= @profile.description %> </p><br>
        <div class="pics"> <% @profile.photos.each do |photo| %>
        <%= cl_image_tag photo.path %>
        <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <br></br>

      </div>
    </div>
    </div>
    <br>
    </div>
  </div>
</div>

