<div id="profil">
  <center><h2>Profile</h2></center>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="photos">
        <% if @profile.photos[0] == nil %>
          <%= image_tag 'defaultcie.jpg', width: 300, height: 200, crop: :fill %>
        <% else %>
          <%= image_tag avatar_path(@profile), width: 300, height: 200, crop: :fill %>
        <% end %>
        <h3><%= @profile.first_name %>, <%= @profile.gender %></h3>
        <c><%= @profile.address %>
        <%= @profile.city %> <%= @profile.country %></c>
        <br></br>
        <c>Phone: <%= @profile.phone_number %></c>
      </div>
      </div>
      <div class="backtext">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <br></br>
        <b>Contact:</b><a> <%= @profile.email %></a>
        <br><br></br>
        <b>Description:</b><a> <%= @profile.description %></a>
        <br><br></br>
        <b>Photos:</b><div class="pics"> <% @profile.photos.each do |photo| %>
        <%= cl_image_tag photo.path %>
        <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <br></br>
        <% if policy(@profile).edit? %>
          <%= link_to "Modify", edit_profile_path(current_user), class: "btn-edit" %>
        <% end %>
      </div>
    </div>
    </div>
    <br>
    <center><h4>Détails</h4></center>
    <div class="castors">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <b>Ethnicity:</b><a> <%= @profile.ethnicity %></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <b>Hair color:</b><a> <%= @profile.hair_color %></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <b>Haircut:</b><a> <%= @profile.haircut %></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
          <b>Height:</b><a> <%= @profile.height %></a>  |
          <b>Corpulence:</b><a> <%= @profile.corpulence %></a>
        </div>
      </div>
    </div>
  </div>
</div>

