<div id="modelcards">
  <div class="card">
    <center><h2>Models</h2></center>
    <div class="content">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <% @users.each do |u| %>
          <div class="post ter">
            <div class="preview">
            <%= link_to profile_path(u.id) do %>
              <% if u.photos[0] == nil %>
                  <%= image_tag 'defaultcie.jpg' %>
              <% else %>
                  <%= image_tag avatar_path(u) %>
              <% end %>
            </div>
            <div class="counter">
              <%=
                # if @models.include?(u.id)
                if @models.exists?(user_id: u.id, checked: :true)
                  link_to render('shared/add_button'),cview_project_role_model_path(project_id: @project.id, role_id: @role.id, id: u.id), method: :patch
                elsif @models.exists?(user_id: u.id, checked: :false)
                  link_to render('shared/add_button'), cview_project_role_model_path(project_id: @project.id, role_id: @role.id, id: u.id), method: :patch
                else
                  link_to render('shared/add_button'), cview_project_role_models_path(project_id: @project.id, role_id: @role.id, id: u.id), method: :post
                end
               %>
            <% end %>
            </div>
            <div class="detail"><h3><%= u.username %>, <%= u.gender %></h3></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
