<center><br><h2> Discussion with <%= @model.username %></h2></center>
<center>Status:
<%=
  unless @role.selected_user_id.is_a?(Fixnum)
   if @agreed
    simple_form_for @role, url: cview_discussion_role_model_accept_path(discussion_project_id: @project.id, role_id: @role.id, id: @model.id) do |f|
      f.button :submit, value: "I want this model"
    end
   else
    "Waiting for agreed"
   end
  else
    "Done"
  end
 %>
</center>
<div id='discussion-moduler'>
<div class="containerrrr">
<div class="containerrr">

            <h3>Role: <%= @discussion.name %></h3>

        <input type="radio" id='one' name='contorol' checked/>
        <label for="one"><i class='icon-comments-alt'></i></label>
        <input type="radio" id='two' name='contorol' />
        <label for="two"><i class='icon-user'></i></label>
        <input type="radio" id='three' name='contorol' />
        <label for="three"><i class='icon-link'></i></label>

<div class="all">
        <div class="chat">
            <div class="show-message">
              <% @messages.each do |m| %>
                <% if m.user == @model %>
                  <div class="friend">
                    <% if @model.photos[0] == nil %>
                    <%= image_tag 'defaultcie.jpg', width: 32, height: 32, crop: :fill %>
                    <% else %>
                    <%= image_tag avatar_path(@model.user), width: 32, height: 32, crop: :fill %>
                    <% end %>
                      <div class="message">
                          <p><%= "#{ m.content }" %></br>
                          </p>
                      </div>
                  </div>
                <% else %>
                  <div class="me">
                    <% if current_user.photos[0] == nil %>
                      <%= image_tag 'defaultcie.jpg', width: 32, height: 32, crop: :fill %>
                    <% else %>
                      <%= image_tag avatar_path(current_user), width: 32, height: 32, crop: :fill %>
                    <% end %>
                      <div class="message">
                      <p><%= "#{ m.content }" %> <br>
                      </p></div>
                  </div>
                <% end %>
              <% end %>
                <div class="badboy"></div>
            </div>
            <div class="type-text">
                <%= simple_form_for @message, url: cview_discussion_role_model_create_path(@project, @role, params[:id]) do |m| %>
                      <%= m.input :content, label:false, required: false %>
                      <%= m.button :submit, "Send" %>
                    <% end %>
            </div>
        </div>

        <div class="Description">
            <p>
            </p>
        </div>

        <div class="Link">
            <div class="menu">
            </div>
        </div>

        <div class="badboy"></div>
    </div>
</div>
</div>
</div>

