<div class="back_login">
<%= image_tag 'cardbackground.jpg' %>
</div>
<div class="container" style="width: 500px; text-align: center;">
<center><h1>Edit Company</h1></center>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br>
<%= simple_form_for @company, url: cview_company_path(@company) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :country %>
  <%= f.input :phone_number %>
  <%= f.input :email %>
  <%= f.input :website %>
  <%= f.simple_fields_for :users, current_user do |u| %>
    <%= u.input :first_name %>
    <%= u.input :last_name %>
    <%= u.input :grade_company %>
  <% end %>
<br>
  <%= f.button :submit %>
<% end %>
</div>
