<div id="navbar">
  <div class="navbar-wagon <%= yield(:navbar_class) %>">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "castors.png", height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <% if user_signed_in? %>
        <!-- Links when logged in -->
        <% if url.exclude?('cview')%>
          <%= link_to "Projects", projects_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "My profile", profile_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
        <% else %>
          <!-- Links when logged in and with 'cview' in url -->
          <% unless current_user.company_id.blank? %>
            <%= link_to "Projects", cview_projects_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <% end %>
          <%= link_to "Discussions", cview_discussions_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "My company", cview_company_path(current_user.company_id), class: "navbar-wagon-item navbar-wagon-link" %>
        <% end %>

        <!-- Avatar with dropdown menu (All)-->
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <!-- No agency -->
            <% if url.exclude?('cview')%>
              <%= image_tag avatar_path(current_user), class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li>
                  <%= link_to "Agency", cview_projects_path, class: "navbar-wagon-item navbar-wagon-link" %>
                </li>
            <% else %>
            <!-- for agency -->
              <%= image_tag avatar_path(current_user), class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li>
                  <%= link_to "My account", projects_path, class: "navbar-wagon-item navbar-wagon-link" %>
                </li>
            <% end %>
              <li>
                <%= link_to edit_user_registration_path do %>
                  <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Agency", new_company_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>
    </div>

    <!-- Dropdown list appearing on mobile only -->
    <% if user_signed_in? %>
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <!-- No agency menu -->
          <% if url.exclude?('cview')%>
            <li><%= link_to "Projects", projects_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li><%= link_to "My profile", profile_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <% unless current_user.company_id.blank? %>
              <li>
                <%= link_to "Agency", cview_projects_path, class: "navbar-wagon-item navbar-wagon-link" %>
              </li>
            <% end %>
          <% else %>
            <!-- (Company view) Links when logged in and with 'cview' in url -->
            <% unless current_user.company_id.blank? %>
              <li>
                <%= link_to "Projects", cview_projects_path, class: "navbar-wagon-item navbar-wagon-link" %>
              </li>
              <li>
                <%= link_to "Discussions", cview_discussions_path, class: "navbar-wagon-item navbar-wagon-link" %>
              </li>
              <li>
                <%= link_to "My company", cview_company_path(current_user.company_id), class: "navbar-wagon-item navbar-wagon-link" %>
              </li>
              <li>
                <%= link_to "My account", projects_path, class: "navbar-wagon-item navbar-wagon-link" %>
              </li>
            <% end %>
          <% end %>
          <li>
            <%= link_to edit_user_registration_path do %>
             <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          <li><%= link_to "Agency", new_company_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>

