<div class="role">

    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <div class="role-name">
      <h3><%= @role.name %></h3>
      <p>Hours : <%= @role.hours.to_i %></p>
    </div>
    <div class="role-body">
      <p><strong>Starts on <%= @role.date_start %> | Ends on <%= @role.date_end %></strong></p>
      <p>
        <%= @role.description %>
      </p>
      <p>Specificities :
        <% if @role.gender && @role.gender != "" %>
          Gender : <%= @role.gender %>
        <% end %>
        <% if @role.ethnicity && @role.ethnicity != "" %>
          Ethnicity : <%= @role.ethnicity %>
        <% end %>
        <% if @role.hair_color && @role.hair_color != "" %>
          Hair color : <%= @role.hair_color %>
        <% end %>
        <% if @role.haircut && @role.haircut != "" %>
          Haircut : <%= @role.haircut %>
        <% end %>
        <% if @role.height && @role.height!= ""  %>
          Height : <%= @role.height %>
        <% end %>
        <% if @role.corpulence && @role.corpulence != ""  %>
          Body type : <%= @role.corpulence %>
        <% end %>
      </p>
    </div>
    <div class="role-status">
      <p class="status pending">Find</p>
      <p class="price">Salary : <%= @role.income %> € </p>
    </div>

</div>



