<div class="role" data-role-id="<%= role.id %>" style="display: none;">

    <% if role.selected_user_id? %>
      <div class="avatar-large">
        <% s_user = User.find(role[:selected_user_id]) %>
        <%= image_tag avatar_path(s_user), class: "avatar-large" %>
      </div>
    <% else %>
      <div class="avatar-large">
        <%= render 'unknown' %>
      </div>
    <% end %>


    <div class="role-name">
      <h3><%= role.name %></h3>
      <p>Hours : <%= role.hours.to_i %> <br>
      Salary : <%= role.income %> € </p>
    </div>
    <div class="role-body">
      <p><strong>From <%= role.date_start.strftime("%d.%m.%y") %> to <%= role.date_end.strftime("%d.%m.%y") %></strong></p>
      <p>
        <%= role.description %>
      </p>
      <p> <strong> Specificities : </strong>
        <% if role.gender && role.gender != "" %>
          Gender : <%= role.gender %> |
        <% end %>
        <% if role.ethnicity && role.ethnicity != "" %>
          Ethnicity : <%= role.ethnicity %> |
        <% end %>
        <% if role.hair_color && role.hair_color != "" %>
          Hair color : <%= role.hair_color %> |
        <% end %>
        <% if role.haircut && role.haircut != "" %>
          Haircut : <%= role.haircut %> |
        <% end %>
        <% if role.height && role.height!= ""  %>
          Height : <%= role.height %> |
        <% end %>
        <% if role.corpulence && role.corpulence != ""  %>
          Body type : <%= role.corpulence %>
        <% end %>
      </p>
    </div>
    <div class="role-status">

      <% if role.selected_user_id? %>
        <%= link_to 'Messages', cview_role_model_path(role_id: role.id, id: role.selected_user_id), class: "role-controls"%>
      <% else %>
        <%= link_to 'Browse models', cview_project_role_path(project_id: @project.id, id: role.id), class: "role-controls"%>
      <% end %>


      <%= link_to 'Edit role', edit_cview_project_role_path(project_id: @project.id, id: role.id), class: "role-controls"%> <br>
    </div>

</div>



