<% content_for(:navbar_class, "navbar-home") %>
<div id='home'>
    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="filter">
              <h1>Want to get paid for modelling?</h1>
            </div>
            <video autoplay loop class="">
                <source src="<%= image_path('background.mp4') %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="<%= image_path('background.webm') %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="poster hidden">
                <img src="<%= image_tag('background.jpg') %>" alt="">
          </div>
      </div>
    </div>
<div class="btn-primary">
  <a><%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %></a>
</div>
  <ul class="bmenu">
    <li><a href="#" class="olivier">Concept</a></li>
    <li><a href="#" class="olivier">Illustrations</a></li>
    <li><a href="#" class="olivier">Photography</a></li>
    <li><a href="#" class="olivier">Web Design</a></li>
    <li><a href="#" class="olivier">Personal Projects</a></li>
  </ul>
  <%= render 'concept' %>
  <%= render 'slider' %>
  <%= render 'projects' %>
  <%= render 'pricing' %>

</div>
</div>
