<% content_for(:navbar_class, "navbar-wagon") %>
<div id='home'>
    <div class="homepage-hero-module">
        <div class="video-container">
            <div class="tagline">
                <h1>Turn yourself into an amateur model <br> and get paid.</h1>
                <br>
                <div class="btn-primary">
                  <a><%= link_to t(".sign_up", default: "Sign Up"), new_user_registration_path %></a>
                </div>
            </div>

            <video autoplay loop class="">
                <source src="<%= image_path('background.mp4') %>" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="<%= image_path('background.webm') %>" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
            <div class="poster hidden">
                <%= image_tag('background.jpg') %>
          </div>
      </div>
    </div>
  <div id='concept'><%= render 'concept' %></div>
  <%= render 'slider' %>
  <div id='projects'><%= render 'projects' %></div>
  <div id='pricing'><%= render 'pricing' %></div>
</div>
</div>
