<center><h2>My Projects</h2></center>
<div id="projects-module">
    <div class="messages">
  <% @projects.each do |p| %>
  <div class="message">
    <div class="avatar-large">
      <% if p.photos? %>
        <%= image_tag avatar_path(p) %>
      <% else %>
        <%= image_tag 'dpro.jpg' %>
      <% end %>
    </div>
   <div class="message-name">
    <%= link_to project_user_dashboard_path(p[:project].id) do %>
    <h3>Name : <%= p[:project].name %></h3>>
    <p>Description : <%= p[:project].description %></p>>
    <p>Role : <%= p[:role].name %></p>
  </div>
  <div class="message-status">
        <p class="status pending">Pending</p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
</div>
