 <div id="cie">
  <center><h2>The Dam</h2></center>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="photos">
        <%= image_tag "model.jpg" %>
        <h3><%= @company.name %></h3>
        <c><%= @company.address %>
        <%= @company.country %></c>
        <br></br>
        <c>Phone: <%= @company.phone_number %></c>
      </div>
      </div>
      <div class="backtext">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <br></br>
        <b>Contact:</b><a> <%= @company.email %></a>
        <br><br></br>
        <b>Website:</b><a> <%= @company.website %></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <br></br>
        <%= link_to "Modify", edit_company_path, class: "btn-edit" %>
      </div>
    </div>
    </div>
    <center><h4>The Castor(s)</h4></center>
  <div class="castors">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        Olivier
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        Grosset-Janin
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        CEO
      </div>
    </div>
  </div>
</div>
</div>
