<h2>Projects#index</h2>

<% @projects.each do |p| %>
  <%= link_to p.name, cview_project_path(p) %><br />
  <%= p.description %><br />
  <%= p.date_start %><br />
  <%= p.date_end %><br />
  <%= p.country %><br /><br />
<% end %>
