
<div class="container">
  <center><h2>My Projects</h2></center>
  <div class='add_button'>
    <div class="avatar-large right-al">
      <%= link_to render('shared/add_button'), new_cview_project_path %>
    </div>
  </div>
    <div id="projects-module">
      <div class="messages">
      <% @projects.each do |p| %>
      <div class="message">
          <div class="avatar-large">
          <% if p.photos? %>
          <%= image_tag avatar_path(p) %>
          <% else %>
              <%= image_tag 'dpro.jpg' %>
          <% end %>
        </div>
        <div class="message-name">
          <h3><%= link_to p.name, cview_project_path(p) %></h3>
          <p>Starts at: <%= p.date_start.strftime("%d.%m.%y") %> | <%= p.description %> </p>
        </div>
        <div class="message-status">
          <p class="status pending">Pending</p>
        </div>
      </div>
      <% end %>
  </div>
  </div>
</div>
