<h2>Projects#show</h2>
<%= @project.name %>
<%= @project.description %>
<%= @project.date_start %>
<%= @project.date_end %>
<%= @project.country %>
<%= @project.city %>

<% @project.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>
