<%= @project.city %>

<% @project.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 2000, height: 450, crop: :fill %>
<% end %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url(

    <% if @project.photos? %>
      <% @project.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 2000, height: 450, crop: :fill %>
        <% end %>
      <% else %>
         'https://picsum.photos/2000/450?image=513'
      <% end %>
</div>



<div class="container">

  <div class="host">
    Castor : <%= @project.company.name %>
  </div>

  <div class="col xs-12">
    <h2> <%= @project.name %> </h2>
  </div>

  <div class="basic-infos">
    <table>
      <tr>
        <td> <i class="fa fa-calendar-o" aria-hidden="true"></i> Starts on <%= @project.date_start %> </td>
        <td> | Ends on <%= @project.date_end %> </td>
      </tr>
    </table>
  </div>

  <div class="col xs-12 project-desc">
    <%= @project.description %>
  </div>

  <h4> Roles : </h4>
  <div class="roles-needed">
    <% @roles.each do |r| %>
    <div class="roles-exist" data-role-id="<%= r.id %>">
        <div class="project-role">
          <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/> <br>
          <%= link_to r.name, cview_project_role_path(project_id: @project.id, id: r.id) %>
        </div>
      </div>
    <% end %>
    <%= link_to  new_cview_project_role_path(@project) do %>
      <div class="project-role">
        <div class="avatar-large green">
          <div id="add-btn" >
            <%= render 'add' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <% @roles.each do |role| %>
    <%= render "cview/roles/show", role: role %>
  <% end %>


  <div id="map"></div>

<!-- Include Google Maps JS library. You should use your *own* key -->
  <script src="https://maps.google.com/maps/api/js?key=<%= ENV["GOOGLEMAPKEY"] %>"></script>

  <!-- Include Dependencies of GMaps for Rails gem -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>
  <script src="https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"></script>
  <script src="https://cdn.rawgit.com/apneadiving/Google-Maps-for-Rails/master/js_compilation/gmaps_google.js"></script>

  <% @city_coordinates = { lat: @project.latitude, lng: @project.longitude } %>

  <script type="text/javascript">
    var handler = Gmaps.build('Google', { markers: { clusterer: undefined } });
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarker(<%= raw @city_coordinates.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(18);
    });
  </script>

<!-- something with a if current_user == @project.user -->
  <div class="manage-project">
    <span class="butn butn-primary">Edit</span>
    <span class="butn butn-primary">Delete</span>
    <span class="butn butn-primary">Back</span>
  </div>
</div>



<%= content_for :after_js do %>
  function showRoleDetails(roleId){
    $( ".role" ).hide();
    $(".role").filter(`[data-role-id="${roleId}"]`).first().show();
  }

  $( ".roles-exist" ).bind( "click", function() {
    showRoleDetails($(this).data("role-id"))
  });
<% end %>
